footer {
    background-color: #00ff00;
    height: 60px;
    width: 100%;
    position: fixed;
    margin-bottom: 0px;
}

.footer__div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}